@charset "utf-8";
/* CSS Document */

@font-face {
    font-family: Blacksword;
    src: url(../font/Blacksword.otf);
}
@font-face {
    font-family: HelveticaNeueLTStd-Roman;
    src: url(../font/HelveticaNeueLTStd-Roman.otf);
}
@font-face {
    font-family: BodoniStd;
    src: url(../font/BodoniStd.otf);
}

.myName {
font-family:"Blacksword","Bodoni Std", Helvetica, calibri, Arial, sans-serif;
    padding-left: 10px;
    padding-right: 10px;
}

body {
margin-top:0%;
align-content:center !important;
width:auto;


}

.navbar-header{
line-height: 120px;
    height: 60px;
    padding-top: 0%;
}

h1{
font-family:"Blacksword","Bodoni Std", Helvetica, calibri, Arial, sans-serif;
margin:0%;
color: pink;
size:auto;
text-align:center;
}

h2{
font-family:"Blacksword","Bodoni Std", Helvetica, calibri, Arial, sans-serif;
margin:0%;
color: pink;
size:auto;
text-align:center;
}

#aboutMe{
font-size:auto;
font-size:45px;
color:pink;
font-family:"Blacksword","Bodoni Std", Helvetica, calibri, Arial, sans-serif;
margin:0%;

}
h3{
color:#344B57;
font-family:"Bodoni STd", Helvetica, calibri, Arial, sans-serif;
text-align:center;
}
h4{
color:#344B57;
font-family:"Bodoni STd", Helvetica, calibri, Arial, sans-serif;
}
h5{
font-weight:bold;
color:#344B57;
}
p{
text-align:justify;
}
footer {
            background-color:#262525;
        }
footer .nav-item nav-link{
color:#ffffff;

}
.navbar-nav{
margin:10px
}
/*=========================
  Icons
 ================= */

/* footer social icons */
ul.social-network {
	list-style: none;
	display: inline;
	margin-left:0 !important;
	padding: 0;
}
ul.social-network li {
	display: inline;
	margin: 0 5px;
}


/* footer social icons */
.social-network a.icoBehance:hover {
	background-color:#4ACBF9;}
a.icoBehance{
	background-color:pink;
}
.social-network a.icoLinkedin:hover {
	background-color:#007bb7;
}
a.icoLinkedin{
	background-color:pink;}

.social-network a.icoBehnace:hover i, .social-network a.icoLinkedin:hover i {
	color:#fff;
}
a.socialIcon:hover, .socialHoverClass {
	color:#44BCDD;
}

.social-circle li a {
	display:inline-block;
	position:relative;
	margin:0 auto 0 auto;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
	border-radius:50%;
	text-align:center;
	width: 40px;
	height: 40px;
	font-size:20px;
}
.social-circle li i {
	margin:0;
	line-height:40px;
	text-align: center;
}

.social-circle li a:hover i, .triggeredHover {
	-moz-transform: rotate(360deg);
	-webkit-transform: rotate(360deg);
	-ms--transform: rotate(360deg);
	transform: rotate(360deg);
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	-ms-transition: all 0.2s;
	transition: all 0.2s;
}
.social-circle i {
	color: white;
	-webkit-transition: all 0.8s;
	-moz-transition: all 0.8s;
	-o-transition: all 0.8s;
	-ms-transition: all 0.8s;
	transition: all 0.8s;
}


/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 80vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: pink;
    border-color: pink;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}
 
/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
             
}
 
.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}
 
/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height:80%;
    z-index: 2;
}
/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 80%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url(../img/carousel3.jpg); 
}
.fade-carousel .slides .slide-2 {
  background-image: url(../img/carousel2.jpg);
}
.fade-carousel .slides .slide-3 {
  background-image: url(../img/carousel1.jpg);
}
      

.intro{
height: 50%;
width:100%;
text-align:center;
color:#fff;
padding-top:40%;
background: url(../img/fondo.jpg) center no-repeat #000;
vertical-align:middle;
background-repeat:no-repeat;
-webkit-background-size:cover;
-moz-background-size:cover;
background-size:cover;
-o-background-size:cover}

.btn-circle
{width:70px;
height:70px;
margin-top:25px;
padding:7px 16px;
border:2px solid #fff;
border-radius:100%!important;
font-size:40px;color:pink;
background:0 0;
-webkit-transition:background .3s ease-in-out;
-moz-transition:background .3s ease-in-out;
transition:background .3s ease-in-out}

.btn-circle:focus,
.btn-circle:hover {
	outline:0;
	color:#fff;
	background:rgba(255,255,255,.1)
	}
.btn-circle {
	-webkit-transition-property:-webkit-transform;
	-webkit-transition-duration:1s;
	-moz-transition-property:-moz-transform;
	-moz-transition-duration:1s
	}
.btn-circle:hover {
	-webkit-animation-name:pulse;
	-moz-animation-name:pulse;
	-webkit-animation-duration:1.5s;
	-moz-animation-duration:1.5s;
	-webkit-animation-iteration-count:infinite;
	-moz-animation-iteration-count:infinite;
	-webkit-animation-timing-function:linear;
	-moz-animation-timing-function:linear
	}
 @-webkit-keyframes pulse{
	 0%,100%{-webkit-transform:scale(1);
	 transform:scale(1)}50%{-webkit-transform:scale(1.2);
	 transform:scale(1.2)}}
 @-moz-keyframes pulse{
	 0%,100%{-moz-transform:scale(1);
	 transform:scale(1)}50%{-moz-transform:scale(1.2);
	 transform:scale(1.2)}}.content-section{padding-top:100px}

